.transition-1 {
  position: fixed;
  top: 100%;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  z-index: 2000;
  /* background: linear-gradient(#ebe4f7, #fbf4ff); */
  background: linear-gradient(#eee5fe, #fbf4ff);
  /* opacity: 0; */
  /* pointer-events: none; */
  transition: 1.5s cubic-bezier(0.9, 0, 0.1, 1);
}

.transition-1.is-active {
  /* opacity: 1; */
  /* pointer-events: all; */
  top: 0;
}

.transition-2 {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 0;
  z-index: 2000;
  /* background: linear-gradient(#ebe4f7, #fbf4ff); */
  background: linear-gradient(#eee5fe, #fbf4ff);
  /* background: #000; */
  /* opacity: 0; */
  /* pointer-events: none; */
  transition: 1.5s cubic-bezier(0.9, 0, 0.1, 1);
}

.transition-2.is-active {
  /* opacity: 1; */
  /* pointer-events: all; */
  /* bottom: 0; */
  height: 100%;
}

.transition-3 {
  position: fixed;
  top: 100%;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  z-index: 2000;
  /* background: linear-gradient(#ebe4f7, #fbf4ff); */
  background: linear-gradient(#eee5fe, #fbf4ff);
  /* opacity: 0; */
  /* pointer-events: none; */
  transition: 1.5s cubic-bezier(0.9, 0, 0.1, 1);
}

.transition-3.is-active {
  /* opacity: 1; */
  /* pointer-events: all; */
  top: 0;
}
